@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    @apply max-w-[1440px] mx-auto;
    font-family: 'Outfit', sans-serif;
}

.max-width {
    @apply max-w-[1440px] mx-auto;
}

form#register {
    position: relative;
    overflow: hidden;
    margin: 2em auto;
    padding: 1em;
    /* font-weight: 500; */
}

fieldset {
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    font-weight: 500;
}

fieldset:nth-of-type(1) {
    position: relative;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    right: 0;
}

fieldset:not(:nth-of-type(1)) {
    position: absolute;
    top: 0px;
    right: -200%;
    width: 100%;
}