@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    @apply max-w-[1440px] mx-auto;
}

.max-width {
    @apply max-w-[1440px] mx-auto;
}

h1, h2 {
    font-family: 'Manrope', sans-serif;
}

.main {
    @apply bg-white rounded-[20px]
}

.dz-image img {
    width: 100%;
    height: 100%;
}

.dropzone.dz-started .dz-message {
    display: block !important;
}

.dz-message {
    margin: 1rem 0 !important;
}
.dropzone {
    background-color: transparent !important;
    border: 1px solid rgb(219, 219, 219) !important;
    padding: 8px 12px !important;
    border-radius: 4px;
}

.dropzone .dz-preview .dz-remove {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
    z-index: 99;
    margin-top: 5px;
    position: relative;
}

.base-text {
    @apply base:text-base text-sm;
}
/* .dropzone .dz-preview.dz-complete .dz-success-mark {
    opacity: 1;
}
.dropzone .dz-preview.dz-error .dz-success-mark {
    opacity: 0;
}
.dropzone .dz-preview .dz-error-message {
    top: 144px;
} */

.overflow::-webkit-scrollbar {
    display: none;
}

.nav-width {
    width: calc(100% - 18.3rem);
} 

.slot-h {
    min-height: calc(100vh - 10.3rem);
}

input.input {
    @apply base:text-[1.1rem] text-[.9rem] base:py-3 py-[0.6rem] base:px-4 px-3 mt-1 placeholder-gray-400 base:rounded-[15px] rounded-[13px] block bg-transparent w-full border border-black_200 focus:outline-none focus:border transition-all focus:border-blue_600 hover:border-blue_600;
}

.div-input {
    @apply base:text-[1.1rem] text-[.9rem] base:py-[.85rem] py-[0.75rem] base:px-4 px-3 mt-1 placeholder-gray-400 base:rounded-[15px] rounded-[13px] bg-transparent w-full border border-black_200 focus:outline-none focus:border transition-all focus:border-blue_600 hover:border-blue_600;
}

circle {
    fill: none;
    stroke: #fdfdfe;
    stroke-width: 4px;
    stroke-dasharray: 450;
    stroke-dashoffset: 449;
    animation: spin 1s linear forwards;
}

svg.svg {
    position: absolute;
    left: 1.1rem;
    top: 3.11em;
    transform: rotate(-90deg);
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input:focus-within {
    @apply border-2 border-blue_600;
  }

.dot-container {
    @apply flex px-[16px] py-[12px] rounded-[6px] items-center cursor-pointer font-medium hover:text-blue_600 hover:bg-blue_100 transition-all;
}

.dot-container:hover > div {
    @apply opacity-100;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("/public/SVG/calendar.svg");
    cursor: pointer;
}


/* responsiveness */
@media (max-width: 1076px) {
    .nav-width {
        width: calc(100% - 15.3rem);
    }
}

@media (max-width: 868px) {
    .nav-width {
        width: 100% ;
    }
}